@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@1&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
	font-family: 'Crete Round', serif;
}
#navbar{
	position: fixed;
	width: 100%;

	background-color: #2D86FF ;
	top: 0;
	left: 0;

}
#navbar a{
	padding: 0;
	display: inline-block;
	height: 100%;
	text-decoration: none;
	font-size: 1.3rem;
	color: #fff;
	padding: 30px 70px;
	
}
.nav-list{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
li{
	list-style: none;
	
}

ul{
	width: 100%;
	height: 100%;
}
#welcome-section{
	width: 100%;
	height: 100vh;
	margin-top: auto;
	background: #727776;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #fff;
	justify-content: center;
}
#navbar a:hover{
	background: #F99360;
	border-radius: 10px;
}
#welcome-section h1{
	font-size: 2.5rem;
	margin-bottom: 20px;
}
#welcome-section p{
	font-size: 1.8rem
}
#projects{
	padding: 50px 40px;
	background: #69B6CA;
	width: 100%;
	height: auto;
}
#projects h2{
	font-size: 2rem;
	text-align: center;
	text-decoration: overline;
	padding: 10px;
	margin-bottom: 50px;
}
.projects-grid{
	max-width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 100px 50px;
	margin-bottom: 100px;
}
.projects-grid img{
	width: 100%;
	margin: auto;
	height: calc(100% );
	object-fit: cover;
	border-radius: 5px;

}
.project-title{
	font-size: 1.3rem;
	text-align: center;
	padding: 10px;
	background: #161617 ;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;

}
.project{
	border-radius: 5px;
}
.btn-link{
	width: 200px;
	text-align: center;
	display: block;
	padding: 10px 20px;
	background: #FA3A1F  ;
	margin:0px auto;
	font-size: 20px;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
}
#contact{
	width: 100%;
	background: #434C52;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 80vh;
	text-align: center;
	align-items: center;
	color: #fff;
	border-bottom: 5px solid #FF5954 ;

}
#contact h2{
	font-size: 3.5rem;
	
	
	
}

#contact p{
	margin-top: 20px;
	margin-bottom: 50px;
	font-size: 1.3rem;
}
.btn{
	color: #fff;
	text-decoration: none;
	font-size: 1.6rem;
}
footer{
	height: 20vh;
	background: #434C52;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #fff;
	font-size: 1.5rem;
}
.project:hover{
	transform: scale(1.05);
	box-shadow: 10px 5px 5px #080808 ;
	transition: 1s;
}
.btn-link:hover{
	transform: scale(1.05);
	transition: 1s;
	background: #080808;
}
.btn:hover{
	transform: scale(1.05);
	transition: 0.8s;
	background: #080808;
	display: block;
	padding: 5px 10px;
	
	border-radius: 5px;
	box-shadow: 5px 2px 2px #474443;
}




@media screen and (max-width: 600px){
	.nav-list{
		display: none;
	}
	#projects h2{
		font-size: 1.5rem;
	}
}
@media screen and (max-width: 450px){
	#projects h2{
		text-decoration: none;
	}
	#welcome-section{
		flex-wrap: wrap;
		background: #000;
	}
	#welcome-section h1{
		font-size: 2rem;
		padding: 20px;
	}
	#welcome-section p{
		color: #FF5B56 ;
	}
	.projects-grid{
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		grid-gap: 150px 50px;
	}
	footer{
		font-size: 1.05rem;
		padding: 10px;
		background: #000;

	}
	.end{
		color: #FF5B56;
	}
}